<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherApp</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <div class="content">
        <div class="heading">
            {{>header}}
        </div>


        <div class="main-content">
            <div class="form-input">
                <form>
                    <input placeholder="Your Location...">
                    <button>Search</button>
                </form>
            </div>

            <div class="list-weather">
                
                <p id='location'></p>
                <p class="temperature" id="temperature"></p>
                <p id='weather'></p>
                <p id='time'></p>
                {{!-- <p id='ianCode'>ianCode</p> --}}
                
            </div>
        </div>

        <div class="footer">
            {{>footer}}
        </div>

    </div> 

    <script src="/js/app.js"></script>
</body>

</html>